html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #1F2937;
}
body {
  margin: 0px;
}

.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  color: white;
  vertical-align: middle;
  padding: 20px;
}

.body {
  display: flex;
  flex-direction: column;
}

.header-link {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.Header-Logo {
  font-weight: bold;
}
.segment {
  width: 100%;
}
.content {
  background-color: #1F2937;
  vertical-align: middle;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  width: 100%;
}
#first #left-content{
  color: #F9FAF8;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  justify-content: center;
}

.first-content {
  margin: 5px;
}

.first-content#title{
  font-size: 48px;
  font-weight: bolder;
}

.first-content#detail{
  font-size: 18px;
  color: #E5E7EB;
}

.first-content#button{
  font-size: 24px;
  font-weight: bold;
  background-color: #3882F6;
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

#first .content #right-content-image img {
  max-width: 80%;
  height: auto;
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#second .content{
  background-color: whitesmoke;
  flex-direction: column;
  align-items: center;
  color: black;
}

#second .content #title {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

.gallery .item {
  color: #1F2937;
  text-align: center;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
}

.gallery .item .gallery-image img{
  margin: 5px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  border: 3px solid #3882F6;
  padding: 5px;
}

.gallery .item .gallery-text{
  color: #1F2937;
  margin: 5px;
  font-size: 18px;
}

#third .content{
  background-color: #E5E7EB;
}

#fourth .content{
  background-color: #3882F6;
  color: white;
}