body {
  background-color: aquamarine;
}

.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  color: white;
}

.body {
  display: flex;
  flex-direction: column;
}

.content {
  background-color: black;
}

.header-link {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

#first-content {
  background-color: #1F2937;
  color: white;
}

#second-content {
  background-color: whitesmoke;
}

#third-content {
  background-color: #E5E7EB;
}

#fourth-content {
  background-color: #3882F6;
  color: white;
}